body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: scroll;
}

h2 {
  color: red;
}

h1 {
  color: #eee;
  text-align: center;
  background: #000;
  margin: 0;
  padding: 20px 0 10px 0;
}

.navButtonFrame {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
}

.navButton {
  background: #000;
  color: #eee;
  padding: 10px 30px;
  margin: 10px 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #fff;
  transition: 0.3s;
}

.navButton:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.reportOuter {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-bottom: 40px;
}

#spinner {
  display: block;
  margin-top: 100px;
  background: #fff;
}

#loadingCircleTag {
  text-align: center;
}
.MuiCircularProgress-root {
  color: #000;
}

.listItem {
  padding: 5px;
  margin: 0;
}

.listItem:nth-child(odd) {
  background: #bbb;
}

.listItem:nth-child(even) {
  background: #ddd;
}

.expandYes {
  height: 100px;
  background: #fff;
  transition: 2s;
  margin: 10px;
}
.expandNo {
  transition: 2s;
  height: 0;
  display: none;
}

.filterButtons {
  width: 100px;
}

.footer {
  background: #000;
  color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 5px;
}
