body {
  font-family: "roboto";
  overflow-y: scroll;
  background: #ddf;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

h1 {
  color: #eee;
  text-align: center;
  background: #000;
  margin: 0;
  padding: 20px 0 10px 0;
}

.navButtonFrame {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
}

.navButton {
  background: #000;
  color: #eee;
  padding: 10px 30px;
  margin: 10px 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #fff;
  transition: 0.3s;
}

.navButton:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.event-list {
  margin: 8px 0 50px 0;
}
.reportOuter {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-bottom: 4 0px;
}

#spinner {
  display: block;
  margin-top: 100px;
  background: #ddf;
}

#loadingCircleTag {
  text-align: center;
}
.MuiCircularProgress-root {
  color: #000;
}

div#filter-outer p.filter-label {
  text-align: center;
  font-family: "roboto";
  color: #444;
  font-size: 10pt;
  margin-bottom: 0;
}

div.quick-filter p.filter-label {
  text-align: center;
  font-family: "roboto";
  color: #444;
  font-size: 10pt;
  margin-bottom: 0;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 300px;
}

div.aboutContent {
  text-align: center;
  line-height: 25pt;
  padding: 10px;
}

.footer {
  background: #000;
  color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 5px;
}
